*{
  box-sizing: border-box;
}
header{
  /* Add height and width here */
  background-color: lightcyan;
  text-align: center;
  height:30vh;
  width:100vw;
}

.middle-section{
  display:flex;
  flex-direction:row;
}

aside{
  height:75vh;
  width:30vw;
  background-color: lightseagreen;
}

.image-section{
  width:70vw;
  height:75vh;
  background-color: aliceblue;
  display:flex;
  flex-direction: column;
  
  text-align: left;
}

footer{
  width:100vw;
  height:25vh;
  background-color: lime;
}